<%- include header %>
<form method="post" action="/editProduct/<%= product.name%>/<%= product.title %>/<%= product.time %>">
  产品缩略图上传：(请控制大小)<br />
  <p><input type="text" name="imageUrl" id="url1" value="<%= product.imageUrl%>" /> <input type="button" id="image1" value="选择图片" /></p>
  产品名：<br />
  <input type="text" name="title" value="<%= product.title%>" disabled="disabled"/><br />
  简介：<br />
  <input type="text" name="synopsis" value="<%= product.synopsis %>"/><br />
  产品详细介绍：<br />
  <textarea name="post" rows="20" cols="100" ><%= product.post%></textarea><br />
  <input type="submit" value="保存" />
</form>

<%- include footer %>