<%- include header %>
<% products.forEach(function (product, index) { %>
<p class="info">
    产品名称：<a href="/product/<%= product._id %>"><%= product.title %></a><br />
    类别：<%= product.type %><br />
    厂家：<%= product.producer %><br />
    简介：<%= product.synopsis %><br />
    <hr />
</p>
<% }) %>
<%- include page %>
<%- include footer %>