<%- include header%>
<p>
    <span><a class="edit" href="/editProduct/<%= product.name %>/<%= product.title %>/<%= product.time%>">编辑</a></span>
    <span><a class="edit" href="/removeProduct/<%= product.name %>/<%= product.title %>/<%= product.time%>">删除</a></span>
</p>

<p class="info">
    <a href="/product/<%= product.name %>/<%= product.title%>/<%= product.time%>"><img src="<%= product.imageUrl%>"></a><br />
    名称：<a href="/product/<%= product.name %>/<%= product.title%>/<%= product.time%>"><%= product.title %></a><br />
    厂家：<%= product.producer %><br />
    类别：<%= product.type %><br />
    简介：<%= product.synopsis %><br />
    <hr />
    <%- product.post%>
</p>
<%- include footer %>