<%- include header %>
<% products.forEach(function (product, index) { %>
<p class="info">
    产品名称：<a href="/product/<%= product.name %>/<%= product.title%>"><%= product.title %></a><br />
    简介：<%= product.synopsis %><br />
    <hr />
</p>
<% }) %>
<%- include page %>
<%- include footer %>